<!-- 
This is a placeholder partial for the post footer. Create a file called
layouts/partials/single/footer.html in your own site to overwrite this
placeholder.
-->

<div class="content">
  <a href="https://github.com/mzio" target="_blank">
    <i class="icon ion-social-github"></i>
  </a>
  <a href="https://linkedin.com/in/michaelzhangxyz/" target="_blank">
    <i class="icon ion-social-linkedin"></i>
  </a>
  <a href="mailto:michael_zhang@college.harvard.edu">
    <i class="icon ion-ios-email larger"></i>
  </a>
</div>
