<!-- 
This is a placeholder partial for the post footer. Create a file called
layouts/partials/single/footer.html in your own site to overwrite this
placeholder.
-->

<div class="icons">
  <a href="https://github.com/mzio" target="_blank" class='icon'>
    <i class="fab fa-github icon"></i>
  </a>
  <a href="https://linkedin.com/in/michaelzhangxyz/" target="_blank" class='icon'>
    <i class="fab fa-linkedin-in icon"></i>
  </a>
  <a href="mailto:michael_zhang@college.harvard.edu" class='icon'>
    <i class="fas fa-envelope icon"></i>
  </a>
</div>
