<!-- <ul>
  {{ range .Data.Pages }}
    <li>
      <a href="{{.RelPermalink}}">{{ .Title }}</a>
    </li>
  {{ end }}
</ul> -->

{{ define "main" }}

<main>
    <div class="catalogue" style="padding-top: 2rem;">
        {{ range (.Paginate .Pages).Pages }}
            {{ .Render "summary-posts" }}
        {{ end }}
    </div>
    
    <!-- div class="pagination">
        {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
        {{ end }}
        {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
        {{ end }}
    
        <span>{{ .Paginator.PageNumber }}</span>
    </div> -->
</main>

{{ end }}
